https://tie.rip {
	respond "Hello, world!"
}

https://jellyfin.tie.rip {
	reverse_proxy localhost:8096
}

https://sonarr.tie.rip {
	reverse_proxy localhost:8989
}

https://flood.tie.rip {
	reverse_proxy localhost:9092
}

https://jackett.tie.rip {
	reverse_proxy localhost:9117
}
