https://tie.rip {
	respond "Hello, world!"
}

https://jellyfin.tie.rip {
	reverse_proxy localhost:8096
}

https://radarr.tie.rip {
	reverse_proxy localhost:7878
}

https://sonarr.tie.rip {
	reverse_proxy localhost:8989
}

https://prowlarr.tie.rip {
	reverse_proxy localhost:9696
}

https://flood.tie.rip {
	reverse_proxy localhost:9092
}
